/* CSS Reset */

/*Reset box-sizing and remove padding and margin for all elements*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Correct the line height in all browser*/
html {
    line-height: 1.5;
}

/*Reapply the pointer cursor and underline for anchor tags*/
a {
    cursor: pointer;
    text-decoration: none;
}

/*Remove list styles*/
ul,
li {
    list-style: none;
}

/* Default setting */

/* Import fonts */
@font-face {
    font-family: "flood-std";
    src: url("https://use.typekit.net/af/6da923/000000000000000000012fc3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3");
}

@font-face {
    font-family: "komet";
    src: url("https://use.typekit.net/af/66c5aa/00000000000000007735a904/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3");
}

@font-face {
    font-family: "plakato-inline-back-pro";
    src: url("https://use.typekit.net/af/686f3f/00000000000000007735fbf8/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3");
}

/* Default style for body, h1-h3, logo, a and slogan */
body {
    font-family: "komet", sans-serif;
    color: #081E3B;
    margin: 3% 5%;
}

h1, 
h2,
h3,
.logo,
a {
    font-family: "plakato-inline-back-pro", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #354463;
    text-transform:capitalize
}

.active {
    color: #C24533;

}

.header-slogan,
.contact-slogan {
    font-family: "flood-std", sans-serif;
    color: #C24533;
    text-transform: uppercase;
}

/* Default footer */
footer {
    text-align: center;
    margin-top: 3%;
}

.footer-list li {
    display: inline-flex;
    font-size: 12px;
    padding-left: 2%;
}

.footer-list li a {
    font-family: "komet", sans-serif;
}


/* Mobile first design */

/* Default style for body, h1-h3, logo, a and slogan */
body {
    font-size: 16px;
}

.logo,
.header-slogan,
.menu-list a {
    text-shadow: 5px 5px 5px lightgray;
    margin-bottom: 16px;
}

h1 {
    font-size: 28px;
    margin-bottom: 16px;
}

h2 {
    font-size: 22px;
    margin-bottom: 16px;
}


h3 {
    font-size: 18px;
    margin-bottom: 16px;
}

p {
    margin-bottom: 16px;
}

.page-link1,
.page-link2 {
    font-size: 22px;
    text-shadow: 5px 5px 5px lightgray;
}

.page-link2 {
    color: #C24533;
}

.page-link1:hover,
.page-link2:hover {
    color: grey;
    transition:all 0.3s ease;
}

/* Style header*/
.topnav {
    display: grid;
    align-items: center;
    justify-content: space-between;
    background:white;
}

.logo-slogan {
    grid-column: 1/2;
}


/* Hamburg menu */
.hamb {
    grid-column: 2/3;
    cursor: pointer;
}

.hamb-line1,
.hamb-line2,
.hamb-line3 {
    background: #354463;
    display: block;
    transition: .3s ease-in-out;
}

.hamb-line1 {
    height: 3px;
    width: 20px;
    margin-bottom: 5px;
}

.hamb-line2 {
    height: 3px;
    width: 30px;
    margin-bottom: 5px;
}

.hamb-line3 {
    height: 3px;
    width: 20px;
}

/* Hamburg menu checked effect */
#side-menu:checked ~ .hamb .hamb-line1 {
    transform: rotate(45deg); 
    width: 30px;
    margin-bottom: -3px;
}

#side-menu:checked ~ .hamb .hamb-line2 {
    transform: rotate(-45deg);
    
}

#side-menu:checked ~ .hamb .hamb-line3 {
    display: none;
}

#side-menu {
    display: none;
}

/* Chekced effect of side menu */
.menu-list {
    display: none;
}

#side-menu:checked ~ .menu-list {
    display: flex; 
    flex-direction: column;
    width: 40%;
    height: 100%;
    background-color: white;
    padding: 5% 8%;
    transition: all 0.4s ease; 
    position: absolute;
    overflow: hidden;
    top: 120px;
    right: 0;
}

.menu-list li {
    margin-bottom: 10%;
  }

.menu-list a:hover {
    color: #C24533;
    transition: all 0.3s ease;
}

/* Contact section for mobile */

.contact-slogan {
    font-size: 44px;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 5%;
}

.socialmedia * {
    display: inline-block;
    font-size: larger;
    padding-right: 5px;
}

.socialmedia {
    text-align: center;
}

.subscribe {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 10%;
    text-align: center;
}

.subscribe input {
    height: 45px;
    border: none;
    box-shadow: 5px 5px 5px lightgray;
    margin-bottom: 5%;
}

.subscribe .cta-link {
    display: flex;
    height: 45px;
    background: #354463;
    color: white;
    box-shadow: 5px 5px 5px lightgray;
    text-decoration: none !important;
    justify-content: center;
    align-items: center;
}

.subscribe .cta-link:hover {
     background: gray;
     transition: all 0.3s ease;
}

/* Company information setting */
.company-info {
    margin-top: 10%;
    margin-bottom: 10%;
}

.company-info a {
    font-family: "komet", sans-serif;
    text-decoration: underline;
}

.quick-links li {
    margin-bottom: 2%;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid var(--primary-colour);
    border-radius: 100%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Homepage */
.welcome-video {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.welcome {
    text-align: end;
    margin-bottom: 10%;
}

.home-content1-image1 {
    filter: grayscale(0.5) brightness(80%);
    transition: 0.3s ease-in-out;
}

.home-content1-image1:hover {
    filter: none;
}


/* Rejust all images sixe */
img {
    width:100%;
}

/* Rejust all page content margin */
.home-content1,
.home-content2,
.explore-content1,
.explore-content2,
.explore-content3,
.exhibition-content1,
.exhibition-content2,
.exhibition-content3,
.event-content1,
.event-content2,
.event-content3,
.visit-content1,
.involved-content1,
.involved-content2,
.involved-content3,
.enroll-content,
.products-content1,
.products-content2 {
    margin-bottom: 10%;
}

/* Regust videos size for all pages*/
.explore-content1-video1,
.explore-content1-video2,
.explore-content1-video3,
.exhibition-content1-video1,
.exhibition-content2-video2,
.exhibition-content3-video3,
iframe,
.visit-content1-video1,
.involved-content1-video1,
.enroll-video1 {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* Enrollmentform */
.enroll-content {
    background:#354463;
    color: white;
    text-align: center;
}

.enroll-content h2 {
    padding-top: 5%;
}

.enroll-content h2,
.enroll-content h3,
.entoll-content select {
    color: white;
}

.enroll-form {
    display: grid;
    margin-left: 3%;
    margin-right: 3%;

    text-align: left;
}

.enroll-form input,
.enroll-form select {
    height:30px;
    margin-bottom: 5%;
    background: #354463;
    color: white;
    border: none;
    border-bottom: 2px solid white;
}

.enroll-form .submit {
    width: 120px;
    height: 40px;
    padding-bottom:-5%;
    color: white;
    text-align: center;
    background-color: #C24533;
    margin-bottom: 10%;
    margin-top: 5%;
    margin-left: auto;
}

.submit:hover {
    background-color: gray;
    transition: all 0.3s ease;
}

/*Fetch product list*/

.products-content2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.product {
    text-align: center;
    padding: 10px;
}

.product img {
    width: 100%;
}

#btn {
    font-weight: 800;
    border: none;
    background:none;
    color: #C24533;
    text-shadow: 5px 5px 5px lightgray;
    }
    
#btn:hover {
        color: gray;
        transition: all 0.3s ease;
    }


/*Product-details page*/

.product-container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 80%;
    align-items: center;
}


.product-images {
    grid-column: 1/3;
    width: 80%;
}

.product-summery {
    grid-column: 1/3;
}

.product-description {
    grid-column: 1/3;
}

.page-link2 {
    font-size: medium;
}

.quantity,
#btn {
    font-size: larger;
}

.product-summery,
.product-description {
    margin-bottom: 10%;
}



/* Responsible size: when page over 500 px */

@media screen and (min-width:500px) {
    /* Relocate slogan */

    body {
        margin-top: 3%;
    }

    .hamb {
        display: none;
    }

    .topnav {
        display: grid;
        grid-column: 30% 50% 20%;
        grid-row: auto auto auto auto;
    }

    .logo-slogan {
        display: inline-flex;
        align-items:flex-end;
        grid-column: 1/2;
        grid-row: 1/3;
        margin-bottom: 3%;
    }

    .menu-list {
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 0;
        margin-left: 3%;
        margin-right: 5%;
        top: 180px;
    }

    /* Welcome set*/
    .welcome {
        display: flex;
        flex-direction: column;
    }

    .welcome-video {
        width: 85%;
        height: 50%;
        object-fit: cover;
    }

    .welcome a {
        margin-right: 15%;
        margin-top: 3%;
    }

    /* Redjust all content size */

    .home-content1,
    .home-content2,
    .contact,
    .company-info,
    .explore-content1,
    .explore-content2,
    .explore-content3,
    .exhibition-content1,
    .exhibition-content2,
    .exhibition-content3,
    .event-content1,
    .event-content2,
    .event-content3,
    .visit-content1,
    .involved-content1,
    .involved-content2,
    .involved-content3,
    .enroll,
    .products-content1,
    .products-content2{
        width: 85%;
    }

    .explore-content1-video1,
    .explore-content1-video2,
    .explore-content1-video3,
    .exhibition-content1-video1,
    .exhibition-content2-video2,
    .exhibition-content2-video3,
    iframe,
    .visit-content1-video1,
    .involved-content1-video1,
    .enroll-video1 {
        height: 650px;
        object-fit: cover;
    }

    /*Resize product-detail page*/


    .product-images {
        grid-column: 1/2;
    }

    .product-summery {
        grid-column: 2/3;
    }

     
}   

/* Responsible size: when page over 1024 px */

@media screen and (min-width:1024px) {
    body {
        font-size: 20px;   
    }

    .logo,
    .header-slogan,
    .menu-list a {
        font-size: 28px;
        text-shadow: 10px 10px 5px lightgray;
        margin-bottom: 66px;
    }

    h1 {
        font-size: 36px;
        margin-bottom: 36px;
    }

    h2 {
        font-size: 28px;
        margin-bottom: 36px;
    }

    h3 {
        font-size: 22px;
        margin-bottom: 36px;
    }

    p {
        margin-bottom: 36px;
    }

    #btn {
        font-size: large;
    }

    .page-link1,
    .page-link2 {
        font-size: 28px;
        text-shadow: 10px 10px 5px lightgray;
    }

    .menu-list {
        top: 300px;
    }

    .menu-list li {
        padding-bottom: 15%;
    }

    /* Homepage layout */

    .home-content1 {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
    }

    .home-content1-image1 {
        grid-column: 1/2;
        width:90%;
    }

    .home-content1-section1 {
        grid-column: 2/3;
    }

    /* Rejust contact and company info layout */
    .company-info { 
        display: grid;
        grid-template-columns: 40% 20% 20% 20%;
        grid-row: 50% 50%;
        align-items: flex-start;
    }

    .contact {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .open-hours {
        grid-column: 2/3;
    }

    .admission {
        grid-column: 3/4;
        grid-row: 1/3;
    }

    .quick-links {
        grid-column: 4/5;
        grid-row: 1/3;
    }

    .location,
    .open-hours,
    .admission,
    .quick-links {
        width: 85%;
    }


    /* Rejust explore layout */
    .explore-content1,
    .explore-content2,
    .explore-content3 {
        display: grid;
        grid-template-columns: 45% 55%;
    }

    .explore-content1-section1,
    .explore-content2-section1,
    .explore-content3-section1 {
        width:80%;
        margin-left: 10%;
    }

    /* Exhibition layout */
    .exhibition-content1,
    .exhibition-content2,
    .exhibition-content3 {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        align-content: center;
    }

    .exhibition-content1-video1,
    .exhibition-content1-image1,
    .exhibition-content2-image2,
    .exhibition-content2-video2,
    .exhibition-content3-image3,
    .exhibition-content3-video3 {
        width: 90%;
    }

     /* Rejust event layout */

    .event-content1, 
    .event-content2,
    .event-content3,
    .products-content1 {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
        align-items:center;
        margin-bottom: 0;
    }

    .event-content1-section1,
    .event-content2-section1,
    .event-content3-section1,
    .products-content1-section1 {
        width: 80%;
        margin-left: 10%;
    }

    .event-content2-image1,
    .products-content1-image1 {
        grid-column: 2/3;
    }

    .event-content2-section1,
    .products-content1-section1 {
        grid-row: 1/2;
    }

    /* Rejust visit-page layout */
    .visit-content1 {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto auto;
        align-items: center;
    }
    
    .map {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .visit-content1-section2 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .visit-content1-section4 {
        grid-column: 2/3;
        grid-row: 4/5;
    }

    .visit-content1-section5 {
        grid-column: 2/3;
        grid-row: 5/6;
    }

    .visit-content1-image1 {
        grid-column: 1/2;
        grid-row: 4/6;
    }

    .visit-content1-section1,
    .visit-content1-section2,
    .visit-content1-section3,
    .visit-content1-section4,
    .visit-content1-section5
    {
        width: 80%;
        margin-left: 10%;
    }


    /* Rejust involved page layout */
    .involved-content1,
    .involved-content2,
    .involved-content3 {
        display: grid;
        grid-template-columns: 45% 55%;
        align-items: center;
    }

    .involved-content1-section1,
    .involved-content2-section1,
    .involved-content3-section1 {
        width:80%;
        margin-left: 10%;
    }

    .enroll {
        display: grid;
        grid-template-columns: 55% 45%;
    }

    .enroll-video1 {
        object-fit: cover;
        height:fit-content;
    }

    /*Rejust product list*/
    .products-content2 {
        margin-top: 15%;
        grid-template-columns: 1fr 1fr 1fr;
    }

    /*Rejust product-detail*/


}
















